.button {
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;

  &-blue {
    color: var(--button-white-color);
    background-color: var(--button-blue-bg);
    transition: all .25s ease-in-out;

    &:hover {
      color: var(--button-blue-bg);
      background-color: var(--button-white-bg);
    }
  }

  &.disabled {
    opacity: 0.75;
    pointer-events: none;
  }

  &-small {
    padding: 12px 15px;
    font-size: var(--small-size);
    line-height: 1.15em;
  }

  &-medium {
    padding: 15px 34px;
    font-size: var(--default-size);
    line-height: 1.15em;
  }

  &-large {
    padding: 19px 50px;
    font-size: var(--second-size);
    line-height: 1.15em;
  }
}

@media (max-width: 768px) {
  .button {
    &-small {
      padding: 10px 13px;
    }

    &-medium {
      padding: 13px 25px;
    }

    &-large {
      padding: 16px 38px;
    }
  }
}
