@import '../../../../../mixins';

.modal {
  &-content {
    &__form {
    }
  }
}


.form {
  &-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__info {
      &-intro {
        display: inline-block;
        font-size: var(--small-size);
        line-height: 1.15em;
        color: var(--white-color);
        padding-bottom: 5px;
      }

      &-price {
        font-size: var(--default-size);
        line-height: 1.15em;
        color: var(--blue-color);
      }
    }
  }
}

.label {
  @include label;
}

