<div class='exercises'>
  <div class='exercises-wrapper'>
    <div class='exercises-content'>
      <h2 class='exercises-content__title'>План вправ на сьогодні</h2>
      <ng-container *ngIf='descriptionsForExercisesForToday.length > 0; else noExercises'>
        <ul class='exercises-content__list list'>
          <li *ngFor='let exercise of descriptionsForExercisesForToday' class='list-item item'>
            <div class='item-content'>
              <h3 class='item-content__name'>
                {{exercise.name}} ({{exercise.repeats}}x{{exercise.averageCountOrSeconds}})
              </h3>
              <div class='item-content__description'>{{exercise.description}}</div>
            </div>
          </li>
        </ul>
        <app-button [buttonData]='buttonData' [routerLink]="'/plan/training'"></app-button>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #noExercises>
  <ul class='exercises-content__list list'>
    <li class='list-item item'>
      <div class='item-content'>
        <h3 class='item-content__name'>Відпочинок</h3>
        <div class='item-content__description'>
          Відпочинок є важливою складовою здорового способу життя. Це час, коли ми можемо зняти напругу, відновити
          енергію та відновити нашу фізичну та психологічну рівновагу.
        </div>
      </div>
    </li>
  </ul>
</ng-template>
