<main class="main">
  <section *ngIf="productData" class="product">
    <div class="product-wrapper">
      <div class="product-content">
        <div class="product-content__images">
          <img [src]="productData.images[0]" alt="product" class="product-content__images image">
        </div>
        <div class="product-content__info info">
          <div class="info-content">
            <div class="info-content__top">
              <h1 class="info-content__top-title">{{productData.name}}</h1>
              <p class="info-content__top-description">{{productData.description}}</p>
            </div>
            <div class="info-content__bottom">
              <span class="info-content__bottom-price">{{productData.price | currency:'USD':'$'}}</span>
              <app-button (click)="onClick()" [buttonData]="buttonData"></app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-buy-modal *ngIf="productData" [productId]="productId"></app-buy-modal>
