<section class="location">
  <div class="location-wrapper">
    <div class="location-content">
      <div class="location-content__map">
        <img alt="map location" class="location-content__map-image" src="../../../../assets/images/map.png">
      </div>
      <div class="location-content__text">
        <h2 class="location-content__text-title">Місцезнаходження</h2>
        <p class="location-content__text-subtitle">Запрошуємо відвідати наш спортзал за адресою вулиця Келецька, 98,
          Вінниця, Вінницька область!</p>
      </div>
    </div>
  </div>
</section>
